@import "~normalize.css";

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 300;
}

#root {
	width: 100vw;
	height: 100vh;
}

a:visited, a:hover {
	color: inherit;
}

a[disabled] {
	cursor: not-allowed !important;
	pointer-events: none !important;
}
